" Set leader key
let mapleader = " "

" Line number option
set relativenumber
set number

" Reload .ideavimrc
nnoremap <leader>s :source ~/.ideavimrc <CR>

vnoremap < <gv
vnoremap > >gv

" Move code
nmap <a-k> <action>(MoveLineUp)
nmap <a-j> <action>(MoveLineDown)

nmap <leader>j <action>(GotoDeclaration)
nmap <leader>k <action>(Back)

" Split
"nmap <leader>v <action>(SplitVertically)
"nmap <leader>h <action>(SplitHorizontally)
nmap <leader>v <action>(MoveTabRight)

nmap <leader>h <action>(MoveTabDown)

" Move editor
nmap <leader>m <action>(MoveEditorToOppositeTabGroup)

" Editor navigation
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" Tabs navigation
nmap <TAB> <action>(NextTab)
nmap <s-TAB> <action>(PreviousTab)

" Closing editors
nmap <c-w> <action>(CloseContent)
nmap <c-q> <action>(CloseAllEditors)

" Open tab in new window
nmap <c-e> <action>(EditSourceInNewWindow)

" Run current file
nmap <leader>r <action>(RunClass)

" File search
nmap <leader>f <action>(GotoFile)

" Activate project tree
nmap <leader>n <action>(ActivateProjectToolWindow)

" Activate terminal window
nmap <leader>t <action>(ActivateTerminalToolWindow)
nmap <c-t> <action>(Terminal.OpenInTerminal) " Open in current dir

" Hide active window
nmap <leader>q <action>(HideActiveWindow)

" Activate NERDTree
set NERDTree
